# Hey, Arnold!

* This assignment will give you experience creating DataFrames from scratch.

* You will create a pandas DataFrame of characters from this TV show: <https://en.wikipedia.org/wiki/Hey_Arnold!>

## Instructions

* First, use Pandas to create a DataFrame with the following columns and values:

  * `Character_in_show`: Arnold, Gerald, Helga, Phoebe, Harold, Eugene

  * `color_of_hair`: blonde, black, blonde, black, unknown, red

  * `Height`: average, tallish, tallish, short, tall, short

  * `Football_Shaped_Head`: True, False, False, False, False, False

* You'll note that the above column names are inconsistent and difficult to work with. Rename them to the following, respectively:

  * `Height`, `Hair Color`, `Character`, `Football Head`

* Next, create a new table that contains all of the columns in the following order...

  * `Character`, `Football Head`, `Hair Color`, `Height`

#### Import Dependencies

In [35]:
import pandas as pd

#### Create a data frame with given columns and value

In [45]:
hey_arnold = pd.DataFrame(
    {"Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold

    Height color_of_hair Character_in_show  Football_Shaped_Head
0  average        blonde            Arnold                  True
1  tallish         black            Gerald                 False
2  tallish        blonde             Helga                 False
3    short         black            Phoebe                 False
4     tall       unknown            Harold                 False
5    short           red            Eugene                 False

#### Rename columns to clean up the look

In [46]:
hey_arnold_renamed = hey_arnold.rename(columns={"color_of_hair":"Hair Color","Character_in_show":"Character","Football_Shaped_Head":"Football Head"})
hey_arnold_renamed.head()

    Height Hair Color Character  Football Head
0  average     blonde    Arnold           True
1  tallish      black    Gerald          False
2  tallish     blonde     Helga          False
3    short      black    Phoebe          False
4     tall    unknown    Harold          False

#### Organize columns into a more logical order

In [48]:
hey_arnold_renamed=hey_arnold_renamed[["Character","Football Head","Hair Color","Height"]]

In [49]:
hey_arnold_renamed.head()

  Character  Football Head Hair Color   Height
0    Arnold           True     blonde  average
1    Gerald          False      black  tallish
2     Helga          False     blonde  tallish
3    Phoebe          False      black    short
4    Harold          False    unknown     tall