# Data-Frame Shop

### Instructions

1. Create a DataFrame for a frame shop that contains **3 columns** (*Frame*, *Price*, and *Sales*) and has **5 rows** of data stored within it.

2. Use an alternate method than before to create a DataFrame for an art gallery that contains **3 columns** (*Painting*, *Price*, and *Popularity*) and has **4 rows** of data stored within it.

#### Import Dependencies

In [2]:
import pandas as pd

#### Create a DataFrame with 3 columns (*Frame*, *Price*, and *Sales*) and 5 rows of data

In [4]:
list_of_dicts = [{"Frame": "Ornate", "Price": "15.0", "Sales":"100"},
                {"Frame": "Classical", "Price": "12.5", "Sales":"200"},{"Frame": "Modern", "Price": "10.0", "Sales":"150"}]

df1 = pd.DataFrame(list_of_dicts)
df1

       Frame Price Sales
0     Ornate  15.0   100
1  Classical  12.5   200
2     Modern  10.0   150

#### Create a DataFrame with 3 columns (*Painting*, *Price*, and *Popularity*) and 4 rows of data

Use an alternate method to create the DataFrame than you used above.

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10
3       Toddler Drawing   Not Popular      1