# Reading/Writing CSVs with Pandas

#### Import Dependencies

In [1]:
import pandas as pd
import os

#### Store filepath in a variable

In [2]:
file = os.path.join("..", "Resources", "DataOne.csv")

#### Read our Data file with the pandas library
Not every CSV requires an encoding, but be aware this can come up when your file contains non-[ascii characters](https://en.wikipedia.org/wiki/ASCII)

In [4]:
file_df = pd.read_csv(file, encoding="ISO-8859-1")

#### Show the data header

In [5]:
file_df.head()

   id first_name last_name                    email  gender
0   1      David    Jordan         djordan0@home.pl    Male
1   2     Gerald    Weaver     gweaver1u@sphinn.com    Male
2   3    Stephen     Riley  sriley1@hugedomains.com    Male
3   4     Evelyn     Grant  egrant2@livejournal.com  Female
4   5        Joe   Mendoza         jmendoza3@un.org    Male

#### Show a single column

In [ ]:
file_df["first_name"].head()

#### Show mulitple specific columns

Note the extra brackets to capture our column names as a list.

In [ ]:
file_df[["first_name", "email"]].head()

#### Head does not change the DataFrame--it only displays it

In [ ]:
file_df.head()

#### Export file as a CSV, without the Pandas index, but with the header

`index=False` tells our code that we don't want a column for the DataFrame index. In this case, it would just have 0,1,2,3....

`header=True` means that we want to include the column titles as the first row in the output file.

In [ ]:
output_file = os.path.join("..", "Output", "fileOne.csv")

file_df.to_csv(output_file, index=False, header=True)