# Pandas Introduction

[**Pandas**](https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673) is an open-source python library that provides intuitive data structures and functions that simplify data manipulation and exploration. Pandas is one of the most widely used python libraries due to its similarity to common structures like spreadsheets, along with the simplicity of quick data wrangling & analysis when compared to other structures such as lists and dictionaries.

#### Import dependencies

You will likely need to install Pandas before using this notebook. To do this, run `pip install pandas` from your command line.

In [1]:
import pandas as pd

## DataFrames

A [Pandas DataFrame](https://www.geeksforgeeks.org/python-pandas-dataframe/) is a 2-dimensional tabular data structure with labeled columns and indexed rows. A DataFrame is one of the most widely used data structures due to its similarity to common structures like spreadsheets and its rich functionality for exploration and manipulation.

##### [Pandas DataFrame documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

#### Create a dataframe using a list of dictionaries

In [8]:
frames = {"Frame":["Ornate", "Classical", "Modern","Wood", "Cardboard"],
          "Price":[15,12.5,10,5,1],
          "Sales":[100,200,150,300,"N/A"]}

df = pd.DataFrame(frames)
df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A

#### Create a dataframe from a single dictionary that contains lists for values

In [4]:
values =

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY

## Series

A [Pandas Series](https://www.geeksforgeeks.org/python-pandas-series/) is a one-dimensional labeled array of content that can leverage most of the same manipulation functions that can be executed against a DataFrame. A Series is essentially just a 1 column dataframe, or it can be equated to a single column of data within an Excel spreadsheet.

##### [Pandas Series Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)

#### Create a Pandas Series from a raw list

In [5]:
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine", "University of Central Florida", "Rutgers University"])
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object